/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body > div:nth-child(3), body > div:nth-child(5), body > div:nth-child(2), body > div:nth-child(4), body > div:nth-child(5) > div, body > div:nth-child(5) p, body > div:nth-child(3) p, body > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template: "top top top top" 40px "left main main right" 1fr "left main main right" 1fr "bottom bottom bottom bottom" 40px/40px 1fr 1fr 40px;
}

body > div:nth-child(1) {
  grid-area: main;
  background-image: url(../img/raychan-eXeNnW7DVfw-unsplash.jpg);
  background-size: cover;
}
body > div:nth-child(1) h1 {
  font-size: 5rem;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  width: min-content;
  padding-left: 30rem;
}
body > div:nth-child(2) {
  grid-area: top;
}
body > div:nth-child(2) p {
  height: 19px;
  overflow: hidden;
}
body > div:nth-child(3) {
  grid-area: right;
  background-color: #a0b6e4;
  display: flex;
}
body > div:nth-child(3) p {
  width: 100%;
  height: 100%;
  border-right: 4px solid #abd0c9;
  border-left: 4px solid #abd0c9;
}
body > div:nth-child(3) p:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid #abd0c9;
}
body > div:nth-child(4) {
  grid-area: bottom;
}
body > div:nth-child(5) {
  grid-area: left;
  background-color: #abd0c9;
  display: flex;
}
body > div:nth-child(5) p {
  width: 100%;
  height: 100%;
  letter-spacing: -0.2rem;
}
body > div:nth-child(5) p:nth-child(2) {
  background-color: white;
  color: #abd0c9;
  border-left: 4px solid #abd0c9;
  border-right: 4px solid #abd0c9;
}
body > div:nth-child(5) > div {
  width: 100%;
  background-color: white;
  color: #abd0c9;
  border-left: 4px solid #abd0c9;
  border-right: 4px solid #abd0c9;
  border-top: 4px solid #abd0c9;
  padding: 1rem;
}
body > div:nth-child(2), body > div:nth-child(4) {
  background-color: white;
  border: 4px solid #abd0c9;
  color: #abd0c9;
}
body > div:nth-child(2) p, body > div:nth-child(4) p {
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
body > div:nth-child(3), body > div:nth-child(5) {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: white;
}

.tiker {
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
