@import "variable";

body {
  background-color: $black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  > div {
    display: grid;
    grid-template:
      "sidebar sidebar sidebar sidebar" 0.15fr
      "head empty code country " 1fr
      "nav . code country" 1fr
      "nav ticket code country" 1fr / 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    margin: 10%;
  }
}

.grid > div {
  &:nth-child(1) {
    grid-area: sidebar;
    background-color: $gray;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .button {
      position: absolute;
      display: flex;
      margin-left: 4px;
      div {
        width: 8px;
        height: 8px;
        border: 0.8px solid $dark-gray;
        border-radius: 50%;
        margin: 4px;
      }
    }
    .bar {
      width: 30%;
      height: 13px;
      border: 0.8px solid $dark-gray;
      border-radius: 2px;
      margin: 0 auto;
    }
  }
  &:nth-child(2) {
    grid-area: head;
    background-color: $black;
    > p {
      text-align-last: justify;
      color: white;
      width: min-content;
      margin: 0;
      line-height: 1.3rem;
      > span {
        height: 16px;
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
  &:nth-child(3) {
    grid-area: empty;
    background-color: $purple;
  }
  &:nth-child(4) {
    grid-area: nav;
    background-color: $red;
    border-bottom-left-radius: 10px;
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        height: 20px;
      }
    }
  }
  &:nth-child(5) {
    grid-area: ticket;
    background-color: $yellow;
  }
  &:nth-child(6) {
    grid-area: code;
  }
  &:nth-child(7) {
    grid-area: country;
  }
}

.card {
  padding: 5%;
  font-size: 1.5rem;
}

.main {
  font-size: 1rem;
  padding-left: 10%;
  p {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.7rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: fit-content;
      &:nth-child(15) {
        background-color: $purple;
      }
    }
  }
}
