body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 30px;
  color: white;
}

body > div:nth-child(1),
body > div:nth-child(2),
body > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div:nth-child(4) {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

body > div:nth-child(4) > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div:nth-child(1) {
  background-color: rgb(168, 176, 178);
}
body > div:nth-child(2) {
  background-color: rgb(233, 226, 211);
}
body > div:nth-child(3) {
  background-color: rgb(207, 179, 149);
}

body > div:nth-child(4) > div:nth-child(1) {
  background-color: rgb(244, 192, 154);
}
body > div:nth-child(4) > div:nth-child(2) {
  background-color: rgb(243, 228, 190);
}
body > div:nth-child(4) > div:nth-child(3) {
  background-color: rgb(152, 189, 184);
}
body > div:nth-child(4) > div:nth-child(4) {
  background-color: rgb(225, 227, 166);
}
