body {
  display: flex;
  justify-content: center;
  padding: 160px 40px;
}
#poster {
  flex-shrink: 0;
  width: 580px;
  background-color: whitesmoke;
  padding: 2rem;
  box-shadow: 1rem 1rem 0.8rem rgb(227, 226, 213);
}
.contain {
  display: flex;
}

.head {
  align-items: baseline;
  justify-content: center;
}
header {
  border-bottom: 0.2rem solid black;
  padding-bottom: 1rem;
}
h1 {
  margin: 0px;
  height: 80px;
  font-size: 6rem;
  font-weight: 900;
}
h2 {
  margin: 0px;
  margin-left: auto;
  font-size: 2.5rem;
}
/* h1와 h2는 기본적으로 margin을 가지고 있다 */
/* 그런데 text의 높이보다 더 큰 content height영역을 가지고 있는데 이유가 무엇인가 */

.list {
  justify-content: space-around;
  font-size: 0.5rem;
  padding: 1rem 0 3rem 0;
}
ul {
  margin-top: 0px;
  list-style: none;
  padding-left: 0px;
  padding-right: 3rem;
}
aside {
  margin-left: auto;
}

.main {
  padding: 1rem;
  height: 32rem;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
/* wrap을 사용하면 여러개의 conatin을 만들지 않아도 된다 */
.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
/* 원을 만들때 사각형을 만든다음 border-radius를 이용한다 */
.a {
  background-color: rgb(179, 171, 207);
}
.b {
  background-color: rgb(234, 174, 152);
}
.c {
  background-color: rgb(205, 235, 204);
}
/* 띄어쓰기로 된 전체 class을 각각 class를 가지고 css를 적용할 수 있다 */
