body {
  background-color: #dde1d4;
  display: flex;
  justify-content: center;
}
#poster {
  width: 100%;
  max-width: 650px;
  display: grid;
  grid-template:
    "header header" 7rem
    "bad empty" 22rem
    "religion religion" 20rem
    /5fr 2fr;
  gap: 1rem;
}

header {
  grid-area: header;
  padding: 1rem;
  background-color: black;
}
header ul {
  height: 100%;
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}
header ul li:first-child {
  padding-right: 2rem;
}
header ul li:nth-child(2) {
  padding-right: 2rem;
}
header ul li:last-child {
  margin-left: auto;
}

.main {
  background-color: tomato;
  padding: 0.7rem;
}

.bad {
  grid-area: bad;
  display: flex;
  align-items: flex-end;
}
.bad h1 {
  font-size: 10rem;
  font-weight: 700;
  height: 9rem;
  margin: 0;
}

.empty {
  grid-area: empty;
}

.religion {
  grid-area: religion;
}
.religion h1 {
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
}
.religion div {
  font-size: 2rem;
  color: white;
}
